# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle.properties
gradlew
gradlew.bat
gradle

# other
eclipse
run
exclude
logs
README.txt
LICENSE-Paul*
LICENSE.txt
CREDITS.txt
forge-1.12.2-*.txt
tools